.sos {
  margin-left: 40px;

  height: 70px; /* Button height */
  width: 70px; /* Button width */
  border-radius: 12px; /* Rounded edges */
  background-color: #cb0000; /* Red color for urgency */
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;

  animation-duration: 100000s;
  justify-content: center;
  align-items: center;
  position: fixed; /* Positioning the button fixed on the screen */

  /* Position the button in the left corner */
  left: 20px; /* Add space from the left edge. Adjust this value for more/less space */
  bottom: 10px; /* Add space from the bottom edge. Adjust this value for more/less space */
  cursor: pointer;

  z-index: 10; /* Ensures button stays above other content */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sos:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.sos-text {
  color: white;
  font-size: 18px; /* Adjusted font size */
  font-weight: bold;
  text-align: center;
}

.sos:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: transparent; /* Removed darker background */
  border-radius: 12px; /* Rounded edges for the background */
  z-index: -1;
}
