.herosection {
  margin-top: 0px;
  height: 100vh;
  color: white;
  /*background-image: url("./assets/roadsafety.jpeg");*/
  background-color: #1e1e1e;
}
.pages {
  padding-top: 20px;
  background-color: black;

  position: relative;
}
.sos {
  position: fixed;
  top: 560px;
  left: 5px;
  z-index: 6px;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
